body {
    background-color: #677539;
}
.prvi-kvadrat {
    background-color: wheat;
    width: 200px;
    margin-left: 100px;
    border-radius: 15px;
    height: 30px;
}
.text {
    margin-left: 45px;
}
.drugi-kvadrat {
    background-color: wheat;
    width: 123px;
    margin-left: 140px;
    border-radius: 15px;
    height: 29px;
    margin-top: 2px;
}
.prvo-dugme {
    border-radius: 10px;
    margin-left: 7px;
    margin-top: 3px;
}
.drugo-dugme {
    border-radius: 10px;
}
